body *{
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	@extend %clear;
}

.main {
  display: flex;
  overflow-x: hidden;
  .sidebar {
    align-items: stretch;
    transition: 350ms all ease;
    @media (max-width:768px){
      transform: translateX(-200px);
      position: absolute;
      z-index: 3;
      bottom: 0;
      top: 120px;
      width: 200px;
      &.active {
        transform: translateX(0px);
      }
    }
  }
  .contents {
    align-items: stretch;
    padding-left: 20px;
    transition: 350ms all ease;
    @media (max-width:768px){
      padding-left: 15px;
      &.discover {
        transform: translateX(200px);
      }
    }
  }
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;

	&_placeholder{
		height: 0;
	}
}

.index{
  display: -ms-flexbox;
  display: flex;
  background: #efeff4;
}

.content-box {
  border: 1px solid #ebeff2;
  padding: 19px 18px 19px;
  margin-bottom: 20px;
  @extend %clear;

  &.disable {
    .content-inner {
      position: relative;
      &:before {
        content: '';
        @extend %full;
        z-index: 5;
        background: rgba(255, 255, 255, 0.6);
      }
    }
    .form-group label {
      font-weight: normal;
    }
    .btn {
      background: #a2a1a1;
      border-color: #a2a1a1;
    }
  }
}
