.jspScrollable  {
  outline: none;
}
.jspVerticalBar{}
.jspVerticalBar,
.jspHorizontalBar{
  background: #fff;
}
.jspTrack{
  background: transparent;
}
.jspDrag {
  background: #8e8e93;
  border-radius: 15px;
  width: 8px;
  left: 7px;
  float: left;
}
.scroll-pane{
  width: 100% !important;
  overflow: auto;
}
.jspContainer{
  overflow:hidden;
  position:relative;
 // height:100% !important;
  width: 100% !important;
}
.jspPane{
  position:absolute;
  width: 100%!important;
}
.jspHorizontalBar {
  height: 8px;
}
