<div class="sidebar-menu row">
  <div class="collapse navbar-collapse">
    <h5>Menu</h5>
    <ul class="nav">
      <li><a href="upload.html">Upload Inventory Data</a></li>
      <li><a href="totaldata.html">Total Data</a></li>
      <li><a href="shipment.html">Shipment List</a></li>
      <li><a href="ship_summary.html">Shipment Summary</a></li>
      <li><a href="#">Inventory Summary</a></li>
      <li><a href="mwsid.html"> MSKU Summary</a></li>
    </ul>
    <div class="header-search block-center visible-xs">
      <input type="text" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
