.upload {
  label {
    font-weight:normal;
    color: #797979;
    margin-top: -4px;
    position: relative;
    display: block;
  }
}
h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 29px;
  margin-bottom: 27px;
}
