.sidebar{
  background: #8e8e93;
  &-menu{
    h5{
      color: #bfbfbf;
      text-transform: uppercase;
      padding-left: 33px;
      padding-right: 15px;
      margin: 15px 0 12px 0;
      @media (max-width:1024px){
        padding-left: 15px;
      }
    }
    .nav {
      li{
        display: block;
        a{
          display: block;
          color: #fff;
          padding-left: 33px;
          padding-right: 15px;
          line-height: 30px;
          @media (max-width:1024px){
            padding-left: 15px;
          }
          &:hover,
          &:focus{
            background: #5d9cec;
          }
        }
        &.active a{
          background: #5d9cec;
        }
      }
    }
  }
}
